In [40]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

# Load the dataset into a pandas dataframe
df = pd.read_csv('cwurData.csv')

In [41]:
df.head()

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

In [42]:
df_ = df[['quality_of_education', 'quality_of_faculty', 'influence', 'score','institution']]
df_.head()

,quality_of_education,quality_of_faculty,influence,score,institution
0,7,1,1,100.00,Harvard University
1,9,3,4,91.67,Massachusetts Institute of Technology
2,17,5,2,89.50,Stanford University
3,10,4,16,86.17,University of Cambridge
4,2,7,22,85.21,California Institute of Technology

In [43]:
df_ = df_.drop_duplicates()
df_ = df_.dropna()

In [44]:
# Split the dataset into training and testing sets (80:20 ratio)
X_train, X_test, y_train, y_test = train_test_split(df_[['quality_of_education', 'quality_of_faculty', 'influence', 'score']], 
                                                    df_['institution'], test_size=0.2, random_state=42)

In [45]:
# Train a Random Forest Classifier on the training data
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [46]:
# Evaluate the model on the testing data
accuracy = clf.score(X_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.1590909090909091

In [59]:
def return_vals(pred):
    row = df.loc[df['institution'] == pred, :].iloc[0].to_dict()
    print(row)

In [60]:
# Predict the university name for a new data point
new_data = [[4.5, 4.2, 85, 80]]
prediction = clf.predict(new_data)
print("Predicted University Name:", prediction[0])
return_vals(prediction[0])

c:\Users\Shanaaz Ahamed\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

Predicted University Name: Princeton University
{'world_rank': 6, 'institution': 'Princeton University', 'country': 'USA', 'national_rank': 5, 'quality_of_education': 8, 'alumni_employment': 14, 'quality_of_faculty': 2, 'publications': 53, 'influence': 33, 'citations': 26, 'broad_impact': nan, 'patents': 101, 'score': 82.5, 'year': 2012}

In [ ]:
import pickle

# Save the model as a pickle file
with open('university_prediction_model.pkl', 'wb') as file:
    pickle.dump(clf, file)

In [ ]:
# Load the saved model from the pickle file
with open('university_prediction_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Use the loaded model to make predictions on new data
new_data = [[4.5, 4.2, 85, 80]]
prediction = loaded_model.predict(new_data)
print("Predicted University Name:", prediction[0])

c:\Users\Shanaaz Ahamed\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

Predicted University Name: Princeton University

In [ ]:
new_data = [[10,15, 85, 100]]
prediction = loaded_model.predict(new_data)
print("Predicted University Name:", prediction[0])

Predicted University Name: Cornell University

c:\Users\Shanaaz Ahamed\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(